.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.session {
    width: 100%;
    height: auto;
    background-color: aqua;
}

.session p {
    padding: 15px;
    margin-left: 2px;
    color: #000;
}

.btn {
    width: 100%;
    height: auto;

    display: flex;

    background-color: red;
}

.button {
    width: 82px;
    height: 43px;
    
    margin: 15px 0px 15px 15px;

    background: #E8833A;
    border-radius: 3px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}